.add-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.prodMap {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  gap: 20px;
}

.WaitingList {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-top: 20px;
  background-color: #f1f1f1;
  font-weight: 700;
  justify-content: flex-start;
  border: 1px solid rgb(198, 198, 198);
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  gap: 15px;
}

.prodCont {
  color: #fff;
  background-color: #a0cc3b;
  cursor: pointer;
  transition: 200ms;
}

.prodCont:hover {
  box-shadow: 1px 1px 40px rgba(186, 186, 186, 0.78);
  transform: scale(1.1);
}

.dates {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.Updates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.add-order h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-order div label {
  display: block;
  margin-bottom: 10px;
}

.add-order div input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.add-order div button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.add-order div button[type="submit"]:hover {
  background-color: #0069d9;
}
