.add-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.dates {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.add-order h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-order div label {
  display: block;
  margin-bottom: 10px;
}

.add-order div input[type="text"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.add-order div button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.add-order div button[type="submit"]:hover {
  background-color: #0069d9;
}
